@model PoemReadViewModel

@{
    ViewData["Title"] = $"Read {Model.Title}";
}

<div class="row">
    <div class="col-8 offset-2">
        <h2 class="text-center fw-bold">@Model.Title</h2>
        <hr />
        <div class="text-end">
            <blockquote class="blockquote">
                <p>
                    By - <a class="link-primary" asp-action="Index" asp-controller="User" asp-area="" asp-route-id="@Model.AuthorId">@Model.AuthorName</a>
                </p>
            </blockquote>
        </div>

        <div class="mt-5">
            @foreach (string lyric in Model.ReadableContent)
            {
                <div class="text-start">@lyric</div>
            }
        </div>
    </div>
</div>

<div class="row mt-3">
    <div class="col-8 offset-2">
        <hr />
        <div>
            <h3 class="text-center">
                Reviews:
            </h3>
        </div>

        @if (Model.Reviews == null)
        {
            <p>No review yet!</p>
        }

        @{
            int likeBtnIdCounter = 1;
            int dislikeBtnIdCounter = 1;
            int likesIdCounter = 1;
        }
        <div class="accordion" id="reviewAccordion">
            @foreach (ReviewDisplayViewModel review in Model.Reviews!)
            {
                <div class="accordion-item">
                    <h2 class="accordion-header" id="@review.Title">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#id_@review.Id" aria-expanded="true" aria-controls="id_@review.Id">
                            @review.Title
                        </button>
                    </h2>
                    <div id="id_@review.Id" class="accordion-collapse collapse" aria-labelledby="@review.Title" data-bs-parent="#reviewAccordion">
                        <div class="accordion-body">
                            @review.Content
                        </div>

                        @*Use jquery and ajax to like and dislike*@
                        @{
                            string likeBtnId = $"likeBtn{likeBtnIdCounter++}";
                            string dislikeBtnId = $"dislikeBtn{dislikeBtnIdCounter++}";
                            string likesId = $"likes{likesIdCounter++}";
                        }
                        <div>
                            <button id="@likeBtnId" class="btn btn-success upvote" onclick="likeButton('@likeBtnId', '@dislikeBtnId', '@likesId')">
                                Like
                            </button>
                            <button id=@dislikeBtnId class="btn btn-danger downvote">
                                Dislike
                            </button>
                            <p id=@likesId>@(review.Upvotes - review.Downvotes)</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@*@section Scripts{
    <script>
        function likeButton(testPara) {
            var selector = "paragraph";
            var asd1 = "#".concat(testPara);
            $(`#${testPara}`).text("Works");
        }
    </script>
}*@
