@model IEnumerable<CategoryDisplayViewModel>

@{
    ViewData["Title"] = "All Categories";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<br />

@if (!Model.Any())
{
    <h3 text-center>No Categories Yet!</h3>
}
else
{
    <div class="row">
        <div class="col-8 offset-2">
            <table class="table table-striped">
                <thead class="text-center">
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Is Deleted?</th>
                        <th scope="col">Delete?</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    @foreach (CategoryDisplayViewModel category in Model)
                    {
                        <tr>
                            <th scope="row">@category.Id</th>
                            <td>@category.Name</td>
                            <td>@(category.isDeleted ? "Yes" : "No")</td>
                            <td>
                                @if (!category.isDeleted)
                                {
                                    <button type="button" class="btn btn-danger mt-3 text-center" data-bs-toggle="modal" data-bs-target="#deleteConfirmationModal@(category.Id)">
                                        Delete
                                    </button>

                                    <div class="modal fade" id="deleteConfirmationModal@(category.Id)" tabindex="-1" aria-labelledby="deleteConfirmationModalLabel@(category.Id)" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="deleteConfirmationModalLabel@(category.Id)">Delete Category @category.Name?</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    Are you sure you want to delete this item?
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                    <button type="button" class="btn btn-primary">
                                                        <a class="text-decoration-none text-center text-light" asp-action="Delete" asp-controller="Category" asp-area="Admin" asp-route-id="@category.Id">Yes</a>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <a class="btn btn-success" asp-action="Restore" asp-controller="Category" asp-area="Admin" asp-route-id="@category.Id">Restore</a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-6 offset-3 text-center">
            <a class="btn btn-primary" asp-area="Admin" asp-action="Add" asp-controller="Category">Add</a>
        </div>
    </div>
}