@model UserSearchDisplayViewModel

@{
    ViewData["Title"] = $"{Model.UserName}'s Profile";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @($"{Model.FirstName} ({Model.UserName}) {Model.LastName}'s profile")!</h1>
    <p>Explore their work form here!</p>
</div>

<div class="row mt-5">
    <div class="col-lg-3 col-md-6 text-center">
        <div class="card" style="width: 18rem;">
            <img src="https://img.freepik.com/free-photo/close-up-hand-writing-notebook_23-2148973424.jpg?w=1480&t=st=1691422572~exp=1691423172~hmac=da603f58a0950f3fe313bde64b9edd9cb7c2d90f9697ad5bec816718f120d620" class="card-img-top" alt="poem-pic">
            <div class="card-body">
                <h5 class="card-title">Poems</h5>
                <p class="card-text">Poems are the core of the app.</p>
                <a asp-area="" asp-controller="User" asp-action="Poems" asp-route-id="@Model.UserId" class="btn btn-primary">View Poems</a>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 text-center">
        <div class="card" style="width: 18rem;">
            <img src="https://img.freepik.com/free-photo/front-view-desk-with-stacked-books-copy-space_23-2148827255.jpg?w=1800&t=st=1691422624~exp=1691423224~hmac=3666877ce0a0480ba55be74b45f7a201908d1af8be7d9ea19f6c2f1a49a70440" class="card-img-top" alt="book-pic">
            <div class="card-body">
                <h5 class="card-title">Book</h5>
                <p class="card-text">Books contain poems by the author and can be read.</p>
                <a asp-area="" asp-controller="User" asp-action="Books" asp-route-id="@Model.UserId" class="btn btn-primary">View Books</a>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 text-center">
        <div class="card" style="width: 18rem;">
            <img src="https://img.freepik.com/free-vector/review-rank-us-services-background-with-5-star-rating-design_1017-45089.jpg?w=1380&t=st=1691422667~exp=1691423267~hmac=fa02e4964a05aa3a9bddf89ff299ecab653d84245640b9bc113a6f6e63f04972" class="card-img-top" alt="review-pic">
            <div class="card-body">
                <h5 class="card-title">Reviews</h5>
                <p class="card-text">Reviews can be used to express your opinion on something you have read.</p>
                <a asp-area="" asp-controller="User" asp-action="Reviews" asp-route-id="@Model.UserId" class="btn btn-primary">View Reviews</a>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 text-center">
        <div class="card" style="width: 18rem;">
            <img src="https://img.freepik.com/free-photo/pile-colorful-magazines-table_144627-3751.jpg?w=1480&t=st=1691432957~exp=1691433557~hmac=3686fc4d94205c43612d5f8e8d2912b7a8fc4b4a52b8be4a674a418af71d4bf7" class="card-img-top" alt="article-pic">
            <div class="card-body">
                <h5 class="card-title">Articles</h5>
                <p class="card-text">Articles can be used to futher explain a poem.</p>
                <a asp-area="" asp-controller="User" asp-action="Articles" asp-route-id="@Model.UserId" class="btn btn-primary">View Articles</a>
            </div>
        </div>
    </div>
</div>